/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 *= require commontator/application
 */
 
 
/* Card CSS */
@media (max-width:991px) { 
    .left {
        position: relative;
        
    }

    .card {
          background-color: #dadada;
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}


@media (min-width:992px) { 
    .left {
        position: fixed;
        background-color: #dadada;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        
    }
} 



.card-3 {
    background-color: #dadada;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}



/* Padding and margin fixes */


.fix-padding {
    margin-bottom: 0px;
    margin-top: 7.5px;
    margin-right: 5px;
}



.top-padding {
    padding-top: 15px;
}

.title {
    font-family: 'Bungee Inline';
    font-size: 35px;
    color: white;
    
}

a.title:hover, a.title:active, a.title:visited {
    color: white;
    text-decoration: none;
}



.top-padding {
    
    padding-top: 15px;
}

.bot-padding {
    
    padding-bottom: 15px;
}

.bot-margin {
    margin-bottom: 15px;
    
}

.top-margin {
    margin-top: 15px;
    
}



a, .stats a, a:visited, .stats a:visited {
    text-decoration: none;
    color: #4CAF50;
}

a:hover, a:active  {
    color: #398439;
    text-decoration: none;
    
}

.stats a:hover, a:active {
    color: #398439;
    text-decoration: none;
    
}

.width-hundred {
    
    width: 100%;
}

.full-padding {
    padding: 15px 15px 15px 15px;
}

.microposts li {
    padding: 10px 0;
    border-top: 0px solid #e8e8e8;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #449d44;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #ccc;
}

.back_image {
    background-image: url("https://wallpaperscraft.com/image/city_bridge_rail_fog_blurred_glare_cars_traffic_47826_3840x2160.jpg");
    background-size: 100%;
}

.jumbotron {
    color: white;
    background-color: #333;
    opacity: .9; 
}

.white-text {
    color: white !important; 
}

.remove-top-margin {
    margin-top: 0px;
}