/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 *= require commontator/application
 */
@media (max-width:1039px) { 
    .left {
        position: relative;
        
    }

    .card {
          background-color: #eee;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}


@media (min-width:1040px) { 
    .left {
        position: fixed;
        background-color: #eee;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
} 



.fix-padding {
    margin-bottom: 0px;
    margin-top: 7.5px;
    margin-right: 5px;
}

.card-3 {
    background-color: #eee;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.top-padding {
    padding-top: 15px;
}

.title {
    font-family: 'Bungee Inline';
    font-size: 35px;
    color: white;
    
}

a.title:hover, a.title:active, a.title:visited {
    color: white;
    text-decoration: none;
}

.white-text {
    color: white;
}


.bot-padding {
    
    padding-bottom: 15px;
}