/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 *= require commontator/application
 */
 
 
/* Card CSS */
@media (max-width:991px) { 
    .left {
        position: relative;
        
    }

    .card {
          background-color: #eee;box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}


@media (min-width:992px) { 
    .left {
        position: fixed;
        background-color: #eee;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
} 



.card-3 {
    background-color: #eee;
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}



/* Padding and margin fixes */


.fix-padding {
    margin-bottom: 0px;
    margin-top: 7.5px;
    margin-right: 5px;
}



.top-padding {
    padding-top: 15px;
}

.title {
    font-family: 'Bungee Inline';
    font-size: 35px;
    color: white;
    
}

a.title:hover, a.title:active, a.title:visited {
    color: white;
    text-decoration: none;
}

.white-text {
    color: white;
}


.bot-padding {
    
    padding-bottom: 15px;
}

.bot-margin {
    margin-bottom: 20px;
    
}


a, .stats a, a:visited, .stats a:visited {
    color: #4CAF50;
}

a:hover, a:active  {
    color: #398439;
    text-decoration: none;
    
}

.stats a:hover, a:active {
    color: #398439;
    text-decoration: none;
    
}

.width-hundred {
    
    width: 100%;
}

.full-padding {
    padding: 15px 15px 15px 15px;
}

.microposts li {
    padding: 15px 0;
    border-top: 0px solid #e8e8e8;
}